@tailwind base;
@tailwind components;
@tailwind utilities;

.skewer {
  width: 100%;
  padding: 20px;
  position: absolute;
  z-index: 20;
  transform: skewY(-2deg);
}

.swiper-pagination-bullet{
    background-color: gold !important;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;

}

.newsletter{
    background-color: #101010f9 !important;
}
.footer{
    background-color: #101010f9 !important;
    padding-top: 50px;
}
.courtroom{
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(10px);
}
.news-image{
    background-color: rgba(246, 195, 10, 0.168);
    backdrop-filter: blur(10px);
}
@keyframes loadingBar {
    0% {
      width: 0%;
    }
    50% {
      width: 70%;
    }
    100% {
      width: 0%;
    }
  }
  
  .animate-loadingBar {
    animation: loadingBar 1.5s ease-in-out infinite;
  }
  
  /* Gold color */
  .bg-gold {
    background-color: #b69942; /* Adjust the gold shade if needed */
  }
