@tailwind base;
@tailwind components;
@tailwind utilities;

.skewer {
  width: 100%;
  padding: 20px;
  position: absolute;
  z-index: 20;
  transform: skewY(-2deg);
}

.swiper-pagination-bullet{
    background-color: gold !important;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;

}

.newsletter{
    background-color: #101010f9 !important;
}
.footer{
    background-color: #101010f9 !important;
    padding-top: 50px;
}
.courtroom{
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(10px);
}
.news-image{
    background-color: rgba(246, 195, 10, 0.168);
    backdrop-filter: blur(10px);
}
@keyframes loadingBar {
    0% {
      width: 0%;
    }
    50% {
      width: 70%;
    }
    100% {
      width: 0%;
    }
  }
  
  .animate-loadingBar {
    animation: loadingBar 1.5s ease-in-out infinite;
  }
  
  /* Gold color */
  .bg-gold {
    background-color: #b69942; /* Adjust the gold shade if needed */
  }

  .country-list{
    background-color: black !important;
  }
  .react-tel-input .country-list .country:hover{
    color: white !important;
    border: 1px solid #b69942 !important;
    background-color: black !important;
  }
  .react-tel-input .flag-dropdown.open .selected-flag {
    background: black !important;
    border-radius: 3px 0 0 0;
}
.react-tel-input .country-list .country.highlight {
  color: white !important;
    border: 1px solid #b69942 !important;
    background-color: black !important;
}
.form-control{
  color: white !important;
  background-color: black !important;
  width: 100% !important;
  outline: none !important;
  border: none !important;
}
/* Marquee container */
.marquee {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Inner container for the logos */
.marquee-content {
  display: flex;
  gap: 50px;  /* Adjust as needed */
  animation: scroll-marquee 30s linear infinite; /* Smooth infinite scrolling */
}

/* Keyframes for the marquee animation */
@keyframes scroll-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
